* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  position: relative;
  min-height: 100vh;
  background-image: url(/resources/wp6836707.jpg);
  background-size: cover;
  background-position: center;
}

table {
  width: 100%;
  margin-top: 20px;
  background-color: #0000003d;
}

th,
td {
  border: 1px solid #270101;
  padding: 10px 10px;
}

@media (max-width: 600px) {
  body {
    padding: 10px;
    background-image: url(/resources/thumb-1920-764842.jpg);
    background-size: contain;
    background-position: center;
  }
}
